
head{
	text-align: center;
}

body{
	text-align: center;
	background-color: rgb(54, 134, 37);
}

img {
	border-radius: 5px;
	max-width: 100%;
	height: auto;
}

p {
    font-size: 24px;
    font-family: 'Cardo', Georgia, Times, serif;
    line-height: 25px;
}

h1 {
	text-decoration: underline overline;
	font-family: 'Allan', Helvetica, Arial, sans-serif;
 	font-size: 70px;
 	line-height: 75px;
}

#first_p {

    color: white;
    font-size: 24px;

}

.not_first_p {

    color: white;
    font-size: 24px;
}

#fourth_p {

    color: white;
}

.tiny_text {
    font-size: 15px;
}
